* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: monospace, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --bg-default: #d8d9db;
  --bg-hover: #ebebeb;
  --bg-active: #bbbcbe;
  --bg-screen: #343434;
  --bg-orange: #df974c;
  --bg-orange-hover: #deaf7c;
  --bg-orange-active:#f99b38;
}

.calc {
  width: 300px;
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container:not(:last-of-type) {
  margin-bottom: 0.5%;
}

button {
  height: 80px;
  width: 24.5%;
  font-size: 32px;
  background-color: var(--bg-default);
}

.numbers:last-child {
  background-color: var(--bg-orange);
  color: white;
}

button:hover {
  background-color: var(--bg-hover);
}

.numbers:last-child:hover {
  background-color: var(--bg-orange-hover);
}

button:hover, .numbers:last-child:hover {
  cursor: pointer;
}

button:active {
  background-color: var(--bg-active);
}

.numbers:last-child:active {
  background-color: var(--bg-orange-active);
}

#result {
  width: 100%;
  height: 80px;
  padding: 16px 8px;
  font-size: 40px;
  background: none;
  text-align: right;
  background-color: var(--bg-screen);
  color: white;
}

#result:focus {
  outline: none;
}

#result::placeholder {
  color: white;
}

.clean {
  width: 49.7%;
}

.numbers-zero {
  width: 74.9%;
}
